<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.racoon.chat.server.infrastructure.po.ChatRecord"/>
        <package name="com.racoon.chat.server.infrastructure.po.Groups"/>
        <package name="com.racoon.chat.server.infrastructure.po.TalkBox"/>
        <package name="com.racoon.chat.server.infrastructure.po.User"/>
        <package name="com.racoon.chat.server.infrastructure.po.UserFriend"/>
        <package name="com.racoon.chat.server.infrastructure.po.UserGroup"/>
    </typeAliases>
</configuration>